.room-hero {
  background-image: url("/src/assets/images/rooms.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.384);
}

.room-hero .text-container h1 {
  font-family: var(--subFont);
  color: #fff;
  text-align: center;
  font-weight: 500;
}

.book-room {
  font-family: var(--mainFont);
  padding: 2.5rem 0 4rem 0;
}

.book-room button {
  padding: 0.5rem 2rem;
  background-color: var(--subColor);
  color: #fff;
}
