.hero-img {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.863) 0%,
      rgba(0, 0, 0, 0.28925073447347693) 100%
    ),
    url("/src/assets/images/home-hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 2.8rem 0;
}

.hero-img .action-container h1 {
  font-family: var(--subFont);
  color: #fff;
  text-align: center;
  font-weight: 500;
}

.hero-img .action-container a {
  font-family: var(--mainFont);
  color: var(--mainColor);
  border: 2px solid #fff;
  padding: 1rem 2rem;
  background: #fff;
  text-decoration: none;
  text-align: center;
}

.hero-img .action-container a:hover {
  background: inherit;
  border: 2px solid #fff;
  color: #fff;
}

.home-about {
  font-family: var(--mainFont);
  overflow: hidden;
}

.home-about p {
  text-align: left;
}

.services,
.rooms {
  font-family: var(--mainFont);
}

.img-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.019),
    0 6px 20px 0 rgba(0, 0, 0, 0.038);
  border-radius: 8px;
  margin: 1rem;
}

.splide {
  padding: 0 1.9rem;
}

.services {
  padding: 5rem 1.4rem;
}

.services .d-md-flex > div {
  margin: 0 0.6rem !important;
}

.service-icon {
  color: var(--subColor);
  font-size: 1.8rem;
}

.splide__pagination {
  display: none !important;
}

.wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 2.5rem;
}
.item {
  animation: animate 16s infinite;
}

@keyframes animate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1100px, 0, 0);
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: 95%;
    border-radius: 0;
    padding: 0;
  }
}

@media (max-width: 835px) {
  .hero-img {
    height: 100vh;
    background-position: center top;
  }

  .splide,
  .services {
    padding: 0;
  }
}
